:root
{
  --f1: "Comfortaa";
  --f2: "";
  --f3: "Jersey 10";
}
body
{
  background: white;
  margin: 0;
  margin-bottom: 500px;
}
body *
{
  box-sizing: border-box;
}

#particles-js
{
  opacity: 1.0;
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  z-index: 0;
}
.special-div
{
  background-color: white;
  mix-blend-mode: difference;
  width: 100%;
  height: 0vh;
  z-index: 10;
  position: absolute;
  top: 0;
  pointer-events: none;
}
main
{
  width: 100%;
  height: 85vh;
  border-bottom: 1px solid gray;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h1
  {
    font: 500 6.0em var(--f3);
    margin-bottom: 10vh;
  }
  .aCont
  {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    a
    {
      
    }
  }
}