:root
{
  --f-1: "Comfortaa"; //
  --f-2: "DM Mono"; //
  --f-3: "Jersey 10";
  --f-4: "Montserrat";
  --f-5: "Playwrite NG Modern";
  --f-6: "Poppins"; //
  --f-7: "Roboto Mono";
  --f-8: "Roboto Slab"; //
  --f-9: "Rubik Mono One"; //
  --f-10: "Rubik Moonrocks";
  --f-11: "Silkscreen"; //
  --f-12: "Space Grotesk";
  --f-13: "Tiny5";
  --f-14: "Viga"; //
  --f-15: "Hammersmith One";
  --f-16: "Heebo";
  --f-17: "Jacquard 12"; //
  ///
  --f1: var(--f-1); //norm
  --f2: var(--f-2); //nadpis
  --f3: var(--f-3); //effect
  --f4: var(--f-4); //header
  --f5: var(--f-17); //header
  --c1: black;
  --c2: white;
  --c3: rgb(201, 201, 201);
  --hh: 5em;
  //
  --color-test: rgb(98, 85, 133);
}
body
{
  background: white;
  margin: 0;
  margin-bottom: 1500px;
  overflow-x: hidden;
}
body *
{
  box-sizing: border-box;
}
.sectionHeader
{
  width: 100%;
  font: 400 2.0em var(--f2);
  text-align: center;
  margin: 3em 0;
}
.sectionHeaderAbs
{
  color: white;
  mix-blend-mode: difference;
  margin-top: 2em;
  //margin-bottom: 10em;
  position: absolute;
  top: 0;
}
.headerAbs
{
  margin-top: 7em;
}
.disabled
{
  display: none !important;
}
.sectionLine
{
  background-color: var(--c1);
  opacity: 0.7;
  width: 60%;
  height: 4px;
  border-radius: 1em;
  margin: 5em auto;
}
.testDiv
{
  background-color: white;
  mix-blend-mode: difference; //reverse inženýr
  width: 200px;
  height: 200px;
  cursor: pointer;
}

header
{
  //background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: var(--hh);
  border-bottom: 1px solid gray;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 10;

  --gap: 3em;

  .s1,
  .s2
  {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--gap);

    a
    {
      font: 500 1.4em var(--f4);
      border-radius: 0.25em;
      padding: 0.4em 0.2em;
      position: relative;
      transition: all .12s;
      cursor: pointer;

      .line
      {
        background-color: white;
        height: 2px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .12s;
      }
    }
    a:hover
    {
      //background-color: rgba(255, 255, 255, 0.1);
      .line
      {
        width: 100%;
      }
    }
  }
  .s2
  {
    padding-left: calc(var(--gap) * 0.6);
  }
  .s1
  {
    padding-right: calc(var(--gap) * 0.6);
    justify-content: end;
  }
  .name
  {
    color: white;
    //background-color: red;
    font: 600 2.0em var(--f4);
    width: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    //mix-blend-mode: difference;
    transition: all .3s;
  }
}
#particles-js
{
  opacity: 1.0;
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  z-index: 1;
}
.colorChangerCont
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  overflow: hidden;

  --effect-width: 400vw;

  .colorChanger
  {
    background-color: white;
    mix-blend-mode: difference;
    aspect-ratio: 1/1;
    width: var(--effect-width);
    border-radius: 50%;
    position: absolute;
    bottom: calc(var(--effect-width) * -0.5);
    pointer-events: none;
    z-index: 5;
  }
  .colorChangerAnimate
  {
    bottom: calc(var(--effect-width) * -1);
    animation: colorChangeStart 1.2s ease-in;
    animation-fill-mode: forwards; 
  }
}
main
{
  width: 100%;
  height: 85vh;
  border-bottom: 1px solid gray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.0em;
  
  h1
  {
    font: 500 6.0em var(--f3);
    margin: 0;
    text-align: center;
    line-height: 0.8em;
  }
  h2
  {
    opacity: 0.8;
    font: 500 2.2em var(--f3);
    margin-top: 0;
    text-align: center;
  }
  .continue
  {
    color: var(--c2);
    background-color: var(--c1);
    width: 3.5em;
    height: 3.5em;
    border: 3px solid rgb(36, 117, 238);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all .25s;
    cursor: pointer;
    animation: continueStart 1s;

    i
    {
      pointer-events: none;
      transition: all .12s;
    }
  }
  .continue:hover
  {
    width: 8em;

    i
    {
      scale: 1.5;
    }
  }
  .aCont
  {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .aInnerCont
    {
      height: 3em;
      width: 10em;
      position: absolute;
      bottom: -1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: all;
      z-index: 9;

      a
      {
        font-size: 1.3em;
        background-color: rgb(248, 248, 248);
        height: 100%;
        width: 100%;
        border: 1px solid rgb(128, 128, 128);
        border-radius: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        transition: all .12s;
        cursor: pointer;

        i
        {
          pointer-events: none;
        }
      }
      .line
      {
        background-color: rgb(128, 128, 128);
        width: 0;
        height: 4px;
        position: absolute;
        transition: all .12s;
        z-index: -1;
      }
    }
    .aInnerCont:hover
    {
      a
      {
        border-width: 4px;
      }
      .line
      {
        width: 100vw;
      }
    }
  }
}
.umim
{
  width: 100%;

  .cont
  {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;

    .tech
    {
      aspect-ratio: 1/1;
      width: 6em;
      border: 1px solid var(--c3);
      border-radius: 0.5em;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
      overflow: hidden;

      .icon
      {
        aspect-ratio: 1/1;
        width: 45%;
        object-fit: cover;
      }
      .name
      {
        font: 600 0.9em var(--f1);
      }
      .percent
      {
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        transition: all .12s;

        span
        {
          font: 600 1.2em var(--f2);
          z-index: 3;
          pointer-events: none;
        }
        .hladina
        {
          background-color: rgba(255, 255, 255, 0.7);
          height: 0%;
          border-top: 1px solid var(--c3);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all .3s;
        }
      }
    }
  }
}
.skola
{
  width: 100%;
  position: relative;

  .cont
  {
    width: 100%;
    min-height: 50em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .sin_parent
    {
      //background-color: red;
      width: 100%;
      height: 100%;
      padding-right: 15vw;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: -1;

      .sin
      {
        transform: rotate(-45deg);
      }
    }
    .weby
    {
      width: 80%;
      //height: 30em;
      margin: 0 auto;
      margin-top: 11em;
      padding-bottom: 5em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3em;
      
      .web
      {
        //background-color: white;
        width: 90vw;
        max-width: 26em;
        height: fit-content;
        padding: 1.4em;
        position: relative;
        display: flex;
        flex-direction: column;
        transition: all .12s;
        
        .border
        {
          mix-blend-mode: difference;
          border: 5px solid rgba(255, 255, 255, 0.9);
          border-radius: 0.4em;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: all .12s;
        }
        .imgCont
        {
          aspect-ratio: 16/9;
          width: 100%;
          border-radius: 0.4em;
          overflow: hidden;
          transition: all .12s;

          img
          {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h1
        {
          color: white;
          mix-blend-mode: difference;
          font: 500 1.7em var(--f2);
          margin: 0.5em 0;
        }
        a
        {
          background-color: rgb(241, 184, 109);
          mix-blend-mode: difference;
          width: 70%;
          height: 4.2em;
          border: 4px solid rgb(240, 217, 217);//rgb(39, 39, 27);
          border-radius: 0.5em;
          margin: 0 auto;
          margin-top: 2.4em;
          margin-bottom: 0.5em;
          position: relative;
          cursor: pointer;

          .vp
          {
            color: var(--c1);
            background-color: rgb(255, 222, 160);
            font: 500 1.5em var(--f2);
            height: calc(100% + 8px);
            border: 4px solid rgb(240, 217, 217);//rgb(39, 39, 27);
            border-radius: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.7em;
            position: absolute;
            left: -4px;
            right: -4px;
            bottom: 12px;
            transition: all .12s;
          }
        }
        a:hover
        {
          .vp
          {
            bottom: 6px;
          }
        }
        a:active
        {
          .vp
          {
            bottom: 0;
          }
        }
      }
      .web:hover
      {
        .border
        {
          top: -5px;
          left: -5px;
          right: -5px;
          bottom: -5px;
        }
        .imgCont
        {
          border-radius: 4em;
        }
      }
    }
  } 
}
.projekty
{
  width: 100%;
  padding-top: 14em;
  padding-bottom: 14em;
  position: relative;

  .sectionHeader
  {
    span
    {
      color: rgb(74, 37, 134);
      font: 400 1.8em var(--f5);
    }
  }
  .rain_parent
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .weby
  {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2.5em;

    .web
    {
      background-color: rgba(255, 255, 255, 0.1);
      width: 50em;
      max-width: 90vw;
      //height: 24em;
      border: 2px solid rgb(214, 214, 214);
      border-radius: 1.0em;
      margin: 0;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      backdrop-filter: blur(14px);
      
      .s1
      {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1em;

        .s11
        {
          width: 100%;
          img
          {
            //aspect-ratio: 16/9 !important;
            width: 100%;
            border-radius: 0.7em;
          }
        }
        .s12
        {
          width: 60%;
        }
      }
      .s2
      {
        background-color: whitesmoke;
        width: 100%;
        height: 2em;
      }
    }
  }
}

@keyframes colorChangeStart
{
  0%
  {
    bottom: calc(var(--effect-width) * -1);
  }
  100%
  {
    bottom: calc(var(--effect-width) * -0.5);
  }
}
@keyframes continueStart
{
  0%
  {
    scale: 0;
  }
  100%
  {
    scale: 1;
  }
}